FLASK_SECRET_KEY=
APPS_SCRIPT_WEBHOOK_URL=
APPS_SCRIPT_WEBHOOK_TOKEN=
COMPINCHE_ID_TOKEN=
COMPINCHE_REFRESH_TOKEN=
COMPINCHE_CLIENT_ID=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
LOG_LEVEL=INFO
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
